<p-card header="Runtime Control Panel">
	<br/>
	<div class="row gap center">
		@if (getVersion()) {
			<app-control-with-status [loading]="isLoading()" [status]="getStatus()">
				<p-splitbutton label="Reinstall" [disabled]="isLoading()" (onClick)="install()" [model]="reinstallOptions"/>
			</app-control-with-status>
		} @else {
			<app-control-with-status [loading]="isLoading()" [status]="getStatus()">
				<p-button label="Install" [disabled]="isLoading()" (onClick)="install()"/>
			</app-control-with-status>
		}
		<div class="spacing"></div>
		<div>{{ getVersion() }}</div>
	</div>
</p-card>
