<p-card header="Minecraft Transit Railway Player Tracking">
	<br/>
	<form class="column gap" [formGroup]="formGroup">
		<p-floatlabel variant="on">
			<textarea pTextarea class="code-text-area" id="playerTracking" rows="8" style="resize: none" autocomplete="off" [spellcheck]="false" formControlName="playerTracking" [fluid]="true"></textarea>
			<label for="playerTracking">Player Tracking Request</label>
		</p-floatlabel>
		<div class="row gap center">
			<app-control-with-status [loading]="isLoading()" [status]="getStatus()">
				<p-button label="Submit" type="submit" [disabled]="isLoading() || !serialize()" (onClick)="update()"/>
			</app-control-with-status>
		</div>
	</form>
</p-card>
