<p-card header="Text To Speech Synthesis Testing">
	<br/>
	<form class="column gap" [formGroup]="formGroup">
		<p-floatlabel variant="on">
			<textarea pTextarea class="code-text-area" id="synthesisRequests" rows="8" style="resize: none" autocomplete="off" [spellcheck]="false" formControlName="synthesisRequests" [fluid]="true"></textarea>
			<label for="synthesisRequests">Synthesis Request</label>
		</p-floatlabel>
		<div class="row gap center">
			<app-control-with-status [loading]="isLoading()" [status]="getStatus()">
				<div class="row gap-small">
					<p-button label="Submit" type="submit" [disabled]="isLoading() || serialize().length === 0" (onClick)="submit()"/>
					<p-button label="Play" (onClick)="play()"/>
				</div>
			</app-control-with-status>
		</div>
	</form>
</p-card>
